<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src=" https://rukminim2.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>Top offers</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src=" https://rukminim2.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" alt="">
                <h6>grocery</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim2.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" alt="">
                <h6>Mobile phones</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim2.flixcart.com/flap/128/128/image/c12afc017e6f24cb.png?q=100" alt="">
                <h6>Fashions</h6>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-md-3" *ngFor="let item of productList">
            <img src="{{item.image}}" alt="">
            <h5 style="white-space:nowrap ;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;" >{{item.title}}</h5>
            <p style="white-space:nowrap ;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"  >{{item.description}}</p>
            <p><strong>Price:</strong>{{item.price}}</p>
            <button class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
        </div>
    </div>
</div>
